<html>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>


<table style="width:100%" align="left">
        <!-- <img src ="../assets/sech.jpg" alt="" width="200px" height="200px">  -->
<!-- /*first Row(contact, about me); */ -->
  <tr>
    <th class="ThResume" colspan="3" ><font color="White">  <font size="6">Sechaba Rapeana <br> Resume</font></font> </th>
   <td></td>
 
  </tr>
  <tr>
    <th ><i style="font-size:24px" class="fa">&#xf007;</i>contact </th>
    <td></td>
    <th style="width:45%"><i style="font-size:24px" class="fa">&#xf0f6;</i>Education</th>
    <td></td>
  </tr>
  
  
  <tr>
    <td>  <dl>
        <dt><i style="font-size:24px" class="fa">&#xf041;</i></dt>
        <dd>2811a jikijolo str
            pimville Soweto
               1809
        <dt><i style="font-size:24px" class="fa">&#xf095;</i></dt>
        <dd> 0718513930</dd>
        <dt><i style="font-size:24px" class="fa">&#xf003;</i></dt>
        <dd>sechabamfana19@gmail.com</dd>
        <dt><i style="font-size:24px" class="fa">&#xf08c;</i></dt>
        <dd> Sechaba Rapeana</dd>
        </dl>
    </td>
    <td colspan ="1"></td>
    <td>
   <table >
   <tr>
   
   <th align ="center">Lenasia</th>
   <th align ="center">2012</th>
   </tr>
   
   <td><p>Matric</p>
    </table>

    <table >
      <tr>
      
      <th align ="center">VUT</th>
      <th align ="center">2015-2018</th>
      </tr>
      
      <td><p>National Diploma</p>
       </table>
    
     
    </td>
        
   
   
    

 
  </tr>
  
   <!-- /* 2nd Row (skill); */ -->
   <tr>
    <th>Skill</th>
    <td></td>
    <th style="width:45%" colspan ="2"><i style="font-size:24px" class="fa">&#xf007;</i>About me</th>
    <td></td>
  </tr>
  
  <tr>
  <td class="divStyl"><dl>
    
    <dd>Innovative</dd>
    <dd>self-motivated</dd>
    <dd>interpersonal skills</dd>
	<dd>problem solving skill sets</dd>
<dd>team player</dd>
    </dl> </td>
   
    <td colspan ="1"></td>
      <td >
        <p>
    I am self-motivated, inspired indivual with lots of energy to achieve my goal, eager to learn at any given time
     whethter be a challenge, task or lesson. Driven by passion to complete any objective. I am an athletic individual
   which has expanded my problem solving skill set. I am creative and innovative.
  </p>
</td> 
 
</tr>
  
   <!-- /* 3rd row; */ -->
  
   <tr>
    <th>Refernce</th>
    <td></td>
    <th  style="width:45%" colspan ="2"><i style="font-size:24px" class="fa">&#xf0b1;</i>Experience</th>

    <td></td>
  </tr>
  
  <tr>
  <td align="left"> <ol>
            <li>Ms Tiisetso Madoda(old khaki)- 0763309860</li>
            <li>Mr Donald Manchidi(GenX)- 0838860296</li>
            <li>Mr Fazel Mohamed(Lenasia High)- 0823902700</li>
            <li>Mrs R van Eck(VUT)- 0169509899 rene@vut.ac.za </li>
          </ol>
 </td>
 <td colspan ="1"></td>
 <td>
  <table >
<tr>
 
 <th align ="left">gen x</th>
 <td></td>
 <th align ="left">2014 - 2015</th>
 <td></td>
</tr>
<tr>
 <td>
     <p><b>Sales man</b>
       <dd>provide information</dd>
       <dd>manage point of sale processes</dd>
       <dd>Prepare invioces, receice cash and card payments</dd>
     </p>
 </td>
</tr>
<tr>
 
 <th >Old khaki</th>
 <td></td>
 <th>2015 - 2016</th>
 <td></td>
</tr>
<tr>
 <td>
     <p><b>Sales man</b> 
        <dd>cross sell products</dd>
        <dd>handle returns on mechandise </dd>
        <dd>team up with co-workers</dd> 
     </p>
</td>
</tr>
 
 
  
 </table> 
  
  </td>
   
   
  </tr>   
    
  
</table>


</body>
</html>
